# Custom binaries
main

# Ignore the graph input files
*.txt

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Output files
*.final
*.intermediate
